<p style="color: green"><%= notice %></p>

<%= render @tweet %>

    <div class="card-body d-flex justify-content-end">
      <%= link_to "Edit this tweet", edit_tweet_path(@tweet), class: "text-white btn btn-info" %>
      <%= button_to "Destroy this tweet", @tweet, method: :delete, class: "text-white btn btn-info ms-3" %> 
    </div>
  </div>
</div>

<div class="text-center mt-3">
  <%= link_to "Back to tweets", tweets_path, class: "text-white btn btn-info" %>
</div>



